<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" type ="text/css" href = "styles.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> -->
    <!-- <script src = "https://unpkg.com/vue@next"></script> -->
    <script src="https://unpkg.com/vue"></script>
    <title>Flights</title>
</head>
<body style = "background-color: darkgray;">  

    <!--week 5-->

    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
      </div>

      <div id="app-7">
        <p>{{ message }}</p>
        <input v-model="message">
      </div>

      <div id="app-8">
        <p>{{ message }}</p>
        <input v-model="message">
      </div>

      <div id="app-9">
        <ol>
 
          <todo-item
            v-for="item in groceryList"
            v-bind:todo="item"
            v-bind:key="item.id"
          ></todo-item>
        </ol>
      </div>
</body>


</html>
